.formulario {
    background-color: white;
    max-width: 190px;
    height: 40px;
    padding: 10px;
    /* text-align: center; */
    border: 2px solid white;
    border-radius: 5px;
    /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
  }

  .formulario:focus {
    color: rgb(#0400ff);
    background-color: white;
    outline-color: rgb(0, 255, 255);
    box-shadow: -3px -3px 15px rgb(#0400ff);
    transition: .1s;
    transition-property: box-shadow;
  }

  .botonIngreso {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
   }

   .botonIngreso:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
   }

   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }

    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }

    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }